---
layout: default
---
{% include nav_patenschaft.html %}

 <p>Hier findet Ihr die vielen Patenschaften die schon geschlossen wurden. Einen herzlichen Dank an alle Paten! 
 </br></br>
   Patenschaften bis Ende Juni 2016 <small>Nächste Aktualisierung Anfang August</small></p>

{% for gefunden in site.data.gefunden-types %}
  <table class="paten">
    <tr>
      <td>
        <h3><i>{{ gefunden.hund }}</i> </h3>
        <p><img src="{{site.baseurl}}/img/tiere/patenschaften/{{gefunden.image_hund}}" alt="{{gefunden.hund}}"></p>
         {{ gefunden.pate }}
      </td>
    </tr>
   </table>
 {% endfor %}
