---
layout: post
---
{% include nav_patenschaft.html %}

 <h3>Helft uns und werdet Pate, wünschenswert wäre ein Platz auf eurem Sofa :)</h3>
 <p>
   Ab einer Spende von 15€ pro Monat könnt ihr die Patenschaft von einem Hund oder einer Katze übernehmen.
   Wir haben im Moment so viele Tiere im Tierheim und auf Payamli, dass wir Probleme haben sie alle satt zu bekommen.
   Für alle Tiere, die noch keinen Namen haben, könnt ihr als Pate einen schönen Namen aussuchen.
 </p>

</hr>

<ul class="post-list">
  {% assign paten_schaften = site.paten_tiere | where:"visible", true | sort: 'date'  %}
  {% for gesucht in paten_schaften reversed %}
    {% if gesucht.visible == true %}
      {% include gesucht_row.html gesucht=gesucht force=true%}
    {% endif %}
  {% endfor %}
</ul>
