---
layout: default
---
{% include nav_spenden.html %}
<p>
  <b>Ein Dank an alle, die die wertvolle Arbeit unterstützt haben.</b></br></br>
</p>


<table>
  {% for date in site.data.spenden-types %}
<tr>
  <th colspan="2"> {{ date.datum }} </td>
  <th style="width:22%; text-align: right;"> {{ date.gesamt }} </td>
 </tr>

  {% for spender in date.spender %}
    <tr>
        <td width="30%">
          {% if spender.verein %}
            <b>{{ spender.verein }}</b></br>
          {% endif %}
          {{ spender.name }} 
        </td>
        <td width="55%"> {{ spender.spende }} </td>
        <td style="width:15%;text-align: right;"> {{ spender.betrag }} </td>
    </tr> 
    {% endfor %}
{% endfor %}
</table>



