
  <li class="clear">
    <a href="{{site.baseurl}}{{include.aktuell.url}}">
      <img src="{{site.baseurl}}/{{include.aktuell.image_hund }}" alt="{{include.aktuell.hund}}">

      {% if include.aktuell.image_hund_1 %}
        <img src="{{site.baseurl}}/{{include.aktuell.image_hund_1 }}" alt="{{include.aktuell.hund}}">
      {% endif %}

    </a>
    <h5 class="post-meta">{{include.aktuell.datum}}</h5>
    <h3>{{include.aktuell.title}}</h3>
    <p> {{include.aktuell.content}}</p>
    <a href="{{ site.baseurl }}/spenden/konten.html"> Jetzt spenden</a>
  </li>

  <li class="clear">
    <div class="fb-share-button"
          data-href="{{ include.aktuell.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
          data-layout="button_count">
    </div>

    <a
    href="https://twitter.com/share"
    class="twitter-share-button"
    data-url="{{site.url}}{{site.baseurl}}{{include.gesucht.url}}"
    tmp-data-via="OezdenOmay"
    data-text="{{include.aktuell.title}}"
    tmp-data-related="OezdenOmay" {% if include.aktuell.hash_tag %}data-hashtags="{{include.aktuell.hash_tag}}" {% endif %}>
      Tweet
    </a>

  </li>
