<footer class="site-footer">

  <div class="wrapper">

    <h2 itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" class="footer-heading">
      Tierschutzverein - MeSaHayKoDer -
      <span itemprop="addressLocality">Özdere</span>/
      <span itemprop="addressCountry">Türkei</span>
    </h2>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-1">
        <a href="https://twitter.com/OezdenOmay" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @OezdenOmay</a>
      </div>

      <div class="footer-col footer-col-1">

        <script type="text/javascript">
          <!--
          var xnma = "{{site.email_service}}";
          var xsnd = "{{site.domain_name}}";
            document.write('\<a href=\"mailto:' + xnma + '@' + xsnd + '">');
            document.write(xnma + '@' + xsnd + '</a>');
          //-->
        </script>
      </div>

      <div class="footer-col footer-col-1">
        <a href="{{ site.baseurl }}/spenden/konten.html" ><b>Spenden</b></a>
        </a>
      </div>

    </div>

  </div>

</footer>
