
  <li class="clear">
    <a href="{{site.baseurl}}{{include.gesucht.url}}">
      <img src="{{site.baseurl}}/img/tiere/gesucht/{{include.gesucht.image_hund }}" alt="{{include.gesucht.hund}}">
    </a>
    <h5 class="post-meta">{{include.gesucht.rasse}} {{include.gesucht.alter}}</h5>
    <h3>{{include.gesucht.hund}}</h3>
    <p> {{include.gesucht.info}}</p>
    <h5><a href="{{ site.baseurl }}/spenden/konten.html">Patenschaft von {{ include.gesucht.hund }} übernehmen</a></h5>
  </li>

  <li class="clear">
    <h5><a href="">Auf Facebook teilen</a></h5>
  </li>
