<nav>
  <ul class="nav head">
    <li><a href="{{ site.baseurl }}/" class="{% if page.url == '/' %}current{% endif %}">Startseite</a></li>
    <li><a href="{{ site.baseurl }}/spenden/konten.html" class="{% if page.url contains 'spenden' %}current{% endif %}">Spenden</a></li>
<!--<li><a href="{{ site.baseurl }}/tiere/hunde.html" class="{% if page.url contains 'tiere' %}current{% endif %}">Tiere</a></li>
    <li><a href="{{ site.baseurl }}/verein.html" class="{% if page.url contains 'payamli' %}current{% endif %}">Verein</a></li> -->
    <li><a href="{{ site.baseurl }}/ueber-uns/arbeit.html" class="{% if page.url contains 'ueber-uns' %}current{% endif %}">Über unsere Arbeit</a></li>
    <li><a href="{{ site.baseurl }}/partner.html" class="{% if page.url contains 'partner' %}current{% endif %}">Partner</a></li>
    <li><a href="{{ site.baseurl }}/impressum.html" class="{% if page.url contains 'impressum' %}current{% endif %}">Impressum</a></li>
    
    
  </ul>
</nav>