<nav>
  <ul class="nav">
    <li><a href="{{ site.baseurl }}/spenden/konten.html" class="{% if page.url == '/spenden/konten.html' %}current{% endif %}">Spenden-Konten</a></li>
    <li><a href="{{ site.baseurl }}/spenden/spender.html" class="{% if page.url == '/spenden/spender.html' %}current{% endif %}">Spenden</a></li>
    <li><a href="{{ site.baseurl }}/spenden/info-konten.html" class="{% if page.url == '/spenden/info-konten.html' %}current{% endif %}">ACHTUNG - Kontenumstellung</a></li>
  </ul>
</nav>