---
layout: post
---

{% include nav_archiv.html %}

<ul class="post-list">
  {% assign aktuelles = site.aktuelles | where: "visible", true  | sort: 'date' | reverse%}

  {% assign current_month = "-1" %}
  {% for aktuell in aktuelles offset:10  %}

    {% assign month = aktuell.date | date: "%-m"%}
    {% if month != current_month %}
      {% assign current_month = month %}
      <fieldset>
        <legend>{% include data_converter_yyyy_m_g.html date=aktuell.date %}</legend>
    {% endif %}


    {% include archive_aktuelles_group.html aktuell=aktuell force=true%}

    {% assign index = forloop.index | plus: 10 %}
    {% assign next_aktuell = aktuelles[index]%}
    {% assign next_month = next_aktuell.date | date: "%-m"%}

    {% if current_month != next_month %}
      </fieldset>
     
    {% endif %}
  {% endfor %}
</ul>
