---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content" itemprop="articleBody">
    {% include nav_patenschaft.html %}

     <h3>Helft uns und werdet Pate</h3>
     <p>
       Ab einer Spende von 15€ pro Monat könnt ihr die Patenschaft von einem Hund oder einer Katze übernehmen.
       Wir haben im Moment so viele Tiere im Tierheim und auf Payamli, dass wir Probleme haben sie alle satt zu bekommen.
       Für alle Tiere, die noch keinen Namen haben, könnt ihr als Pate einen schönen Namen aussuchen.
     </p>
    </hr>

    <ul class="post-list">
      {% include gesucht_row.html gesucht=page%}
    </ul>
  </div>

</article>
